*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: currentColor;
  // outline: none;
}

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
}
