.sidebar {
  display: flex;
  flex-direction: column;
  &-header {
    background-color: #fbf9fa;
    height: 13vh;
    display: flex;
    align-items: center;

    &--title {
      text-transform: capitalize;
      text-align: center;
      padding-right: 1rem;
      color: rgb(36, 102, 141);
      font-size: 2.5rem;
    }

    &--logo {
      height: 12rem;
      width: 12rem;
    }
  }
  &-content {
    background-color: white;
    height: 82vh;
    scroll-behavior: smooth;
    overflow-y: scroll;

    &--item {
      background-image: linear-gradient(to right, #ffbbc2b0, white);
      display: flex;
      gap: 4rem;
      padding: 1.5rem;
      border: none;
      border-top: 2px solid white;
      border-radius: 5px;

      &--place {
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
      }

      &--date {
        font-size: 1rem;
        color: #5a5a5a;
        align-self: flex-end;
      }
    }

    &--item:hover {
      background-color: #ff909b;
    }
  }

  &-content::-webkit-scrollbar {
    background: transparent; // manage scrollbar background color here
  }

  &-logout {
    background-color: rgb(40, 118, 163);
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
}
