.sidebar {
  display: flex;
  flex-direction: column;
  &-header {
    background-color: #fbf9fa;
    height: 13vh;
    display: flex;
    align-items: center;

    &--title {
      text-transform: capitalize;
      text-align: center;
      padding-right: 1rem;
      color: rgb(36, 102, 141);
      font-size: 2.5rem;
    }

    &--logo {
      height: 12rem;
      width: 12rem;
    }
  }
  &-content {
    background-color: rgb(255, 255, 255);
    height: 82vh;
    scroll-behavior: smooth;
    overflow-y: scroll;

    &--item {
      display: flex;
      gap: 4rem;
      padding: 2rem;
      border: 1px solid black;

      &--place {
        font-weight: 700;
        font-size: 1.6rem;
      }

      &--date {
        font-size: 1rem;
        font-style: italic;
        align-self: flex-end;
      }
    }
  }

  // &-content::-webkit-scrollbar {
  //   background: transparent; // manage scrollbar background color here
  // }

  &-logout {
    background-color: rgb(40, 118, 163);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.8rem;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
}
