.error-page {
  background-image: url('../../images/homepage.svg');
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
